@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>order ID=23  Order Date =24/5/2019 Amount=56000 status=delivered</p>
<p>order ID=24  Order Date =22/5/2019 Amount=5600 status=rejected</p>
<p>order ID=25  Order Date =20/5/2019 Amount=45600 status=delivered</p>
<p>order ID=26  Order Date =12/5/2019 Amount=55400 status=inprogress</p>
<p>order ID=27  Order Date =10/5/2019 Amount=55600 status=pending</p>


