
<h2>register1</h2>

@model IEnumerable<BOL.Employee>

@{
    ViewBag.Title = "register1";
}

<h2>List</h2>
<ol>
    @foreach(BOL.Employee emps in Model )
    {
        <li><table height="50%" width="50%">
    <tr>
        <td>Name:@emps.FirstName</td>
    </tr>

    <tr>
        <td>gender:@emps.Gender</td>
    </tr>
<tr>
        <td>City:@emps.City</td>
    </tr>
<tr>
        <td>Email:@emps.Email</td>
    </tr>
                   <tr>
        <td>Age:@emps.Age</td>
    </tr>
</table>
        </li>
    }
</ol>